<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea nuevo Autor</title>
</head>
<body>

    <form action="/autores/create" method="post">
        <label for="nombre">Nombre de autor:</label>
        <input type="text" name="name" id="">

        <button type="submit">Enviar</button>
    </form>

</body>
</html>