<!DOCTYPE html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    
    <header class="header">

       <h1>Sistema de Libreria</h1>
       
	   <main class="container mt-5">
		   <div class="row text-center">
			   <div class="col-12">
				   <a href="/libreria" class="btn btn-primary">Acceder a libreria</a>
			   </div>
		   </div>
	       <div class="row text-center">
			   <div class="col-12 my-5">
				   <h2>Administracción</h2>
			   </div>
	           <div class="col-12 col-md-4 my-4 my-md-0">
	               <a href="/autores" class="btn btn-primary">Autores</a>
	           </div>
	           <div class="col-12 col-md-4 my-4 my-md-0">
	               <a href="/libros" class="btn btn-primary">Libros</a>
	           </div>
	           <div class="col-12 col-md-4 my-4 my-md-0">
	               <a href="/editoriales" class="btn btn-primary">Editoriales</a>
	           </div>
	       </div>
	   </main>
       
           
    </header>
    
</body>
</html>