
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listado de Autores</title>

	<!--Custom CSS-->
	<link rel="stylesheet" href="/css/page.css">
	<!--Bootstrap CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>

<body>

<form  action="/autores/changename" method="POST">
  <div class="mb-3">
   
    <label for="exampleInputEmail1" class="form-label">Ingrese el nuevo nombre</label>
    <input type="text" class="form-control" name="name" required>
    <input type="text" name="id" th:value="${id}" hidden>
    <div id="emailHelp" class="form-text"></div>
  </div>

  
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
	<!--Bootstrap JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
		crossorigin="anonymous"></script>
</body>

</html>